@font-face {
    font-family: 'Corinthia';
    src: url('./assets/fonts/Corinthia-Bold.woff2') format('woff2'),
        url('./assets/fonts/Corinthia-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Corinthia';
    src: url('./assets/fonts/Corinthia-Regular.woff2') format('woff2'),
        url('./assets/fonts/Corinthia-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('./assets/fonts/CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('./assets/fonts/CormorantGaramond-LightItalic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('./assets/fonts/CormorantGaramond-Light.woff2') format('woff2'),
        url('./assets/fonts/CormorantGaramond-Light.woff') format('woff');
    font-style: normal;
}

:root {
    --background-backer: radial-gradient(circle at 50% 40%, rgba(255, 248, 220, 0.9) 0 30%, transparent 50%),
    radial-gradient(circle at 20% 20%, rgba(190, 215, 140, 0.5) 0 15%, transparent 40%),
    radial-gradient(circle at 80% 20%, rgba(170, 200, 150, 0.5) 0 18%, transparent 40%),
    radial-gradient(circle at 30% 85%, rgba(160, 180, 120, 0.4) 0 20%, transparent 50%),
    linear-gradient(180deg, #dce7c8 0%, #b8cf9e 50%, #d9cfa8 100%);
    --content-backer: rgb(254, 241, 209);
    --border-color: rgb(160, 162, 122);
    --font-color: rgb(192, 156, 120);
    --darker-font: rgba(82, 57, 32);;

    --pale-amber: #D3DB7Cff;
    --dry-sage: #B8CAA4ff;
    --tea-green: #D4DDB5ff;
    --muted-olive: #ABB980ff;
    --dry-sage-2: #C2C287ff;
    --sand: #A69756ff;
    --cornsilk-2: #FDF2D2ff;
    --golden-chestnut: #C98751ff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

body, html {
    min-height: -webkit-fill-available;
    box-sizing: border-box;
    overflow-y: visible;
    overflow-x: clip;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background: var(--background-backer);
    user-select: none;

    display: flex;
    flex-direction: column;
}

#allContent {
    min-height: 100vh;
    overflow-y: visible;
    position: relative;
    overflow-x: clip;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

nav, #content, header  {
    margin: auto;
    width: 60%; /* use clamp later, find good width */
    background-color: var(--content-backer);
}

header {
    margin-top: 2.3rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: var(--content-backer);
    padding: 10rem clamp(1.5rem, 3vw, 5%) 1rem;

    border: 2px solid var(--border-color);
    overflow-x: clip;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, calc(clamp(2.5rem, 4vw, 3.5rem)*3.75));
    grid-template-rows: 4.5rem 6rem;
    gap: 2rem;
    place-content: center;

    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-size: clamp(2.5rem, 4vw, 3.5rem);

    background: none;
}

.main-nav > button {
    background: none;
    cursor: pointer;
}

.main-nav > div, .main-nav > button {
    z-index: 2;
}

nav > button {
    border: none;
    color: var(--font-color)
}

#content {
    min-height: calc(100vh - 14.72rem);
    padding-bottom: 5rem;
    margin-top: -1rem;

    margin-bottom: 5rem;
    border: 2px solid var(--border-color);
    border-top: none;
}

#center-title {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    place-self: center;

    font-size: clamp(4rem, 7vw, 6rem);

    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.home-text, .ritual-text {
    display: grid;
    place-items: center;
    padding-top: 3.2rem;

    width: 60%;
    margin: auto;
}

.home-text > div,
.ritual-text > div,
#fortune {
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond';
    text-align: center;
    z-index: 2;
}

.home-text {
    row-gap: 1.2rem;
}

.ritual-text  {
    grid-template-rows: 1fr;
}

#fortune {
    padding: 1rem 0;
}

.ball-block {
    position: relative;
    padding-top: 1rem;
}

.ball-text {
    position: absolute;
    justify-self: center;
    top: 0;
    width: fit-content;
    max-width: 30%;

    z-index: 3;
    padding-top: 20%;

    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

    display: grid;
    justify-items: center;
    row-gap: 0.5rem;

    font-family: "Cormorant Garamond";
    font-size: 2.5rem;

    pointer-events: none;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  animation: 
            fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0),
            wave 2s ease-in-out infinite;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
}

.menu-nav {
    font-family: "Corinthia";
    font-size: clamp(2.3rem, 4vw, 3rem); 
    position: relative;

    padding: 2rem 0;
    width: 80%;

    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.menu-nav > button, .menu-nav {
    display: grid;
    place-items: center;
}

.menu-nav > button {
    grid-template-columns: 7rem 1fr;
    gap: 1rem;
    background: none;
    z-index: 2;
    cursor: pointer;
}

.menu-nav > button:first-child {
    grid-template-columns: 1fr 7rem;
}

button > img {
    width: 2.5em;
    pointer-events: none;
}

.rotate-forward {
    transform: rotate(20deg)
}

.rotate-backward {
    transform: rotate(-20deg)
}

#crown, #fly, #run, #lie, #flower, #flower2 {
    position: absolute;
    width: 8rem;
    height: auto;
    pointer-events: none;
}

#crown {
    justify-self: center;
    margin-top: -4rem;
}

#fly, #run, #lie {
    width: 16rem;
    z-index: 3;
}

#fly {
    margin-top: -12rem;
    left: 60%;
}

#run {
    width: 14rem;
    top: 0;
    padding-top: 16rem;
    transform: translateX(-50%);
}

#lie {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#flower, #flower2 {
    z-index: 3;
    bottom: 0;
    margin-bottom: 5rem;
    transform: translateX(-50%);
}

#flower {
    width: 6rem;
}

#flower2 {
    width: 5rem;
    transform: rotate(-3.5deg) translateX(-60%);
}

#ball {
    width: 70%;
    height: auto;
    justify-self: center;

    display: grid;
}

.menu-nav > button > img {
    height: 1.65em;
}

.menu-nav > button:first-child > img {
    grid-row: 1;
    height: 10rem;
    width: auto;
}


.item {
    display: grid;
    grid-template-rows: 4rem 0rem;
    place-items: center;
    transition: all 0.5s ease-out;
    color: var(--darker-font);
}

.item + .item {
    margin-top: 1.3rem;
}

.item:last-child {
    padding-bottom: 1rem;
}

.title, .description, .title-category {
    z-index: 2;
}

.title-category {
    font-family: "Corinthia";
    font-size: 3.7rem;
    margin-bottom: -2.7rem;
    margin-top: 2.7rem;
    color: var(--font-color)
}

.menu-nav + div {
    margin-top: -2.7rem;
}

.title {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    align-self: end;
    text-align: center;
    cursor: pointer;
}

.description {
    font-family: "Cormorant Garamond";
    font-style: italic;
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
}

.plant {
    height: 3em;
    position: absolute;
    pointer-events: none;
}

.wisp {
    filter: opacity(25%)
}

.ghost {
    filter: opacity(50%);
}

.ghoul {
    filter: opacity(75%)
}

.tipsy {
   transform: rotate(10deg);
}

.boozy {
    transform: rotate(20deg);
}

.drunk {
    transform: rotate(30deg);
}

.confused {
    transform: rotate(-10deg);
}

.disoriented {
    transform: rotate(-20deg);
}

.lost {
    transform: rotate(-30deg);
}

.jump {
    margin-top: -1em;
}

.fly {
    margin-top: -2em;
}

.dig {
    margin-top: 1em;
}

.tunnel {
    margin-top: 2em;
}

.shuffleL {
    margin-left: -2em;
}

.shuffleR {
    margin-left: 2em;
}

.slideL {
    margin-left: -3em;
}

.slideR {
    margin-left: 3em;
}

.mirror {
    transform: scaleX(-1);
}

.fairy {
    transform: scale(0.25)
}

.dwarf {
    transform: scale(0.75)
}

.giant {
    transform: scale(1.25)
}

.goliath {
    transform: scale(2)
}

@media screen and (max-width: 1200px) {
    header, #content, .main-nav {
        width: 70%
    }
}

@media screen and (max-width: 800px) {
    header, #content, .main-nav {
        width: 85%
    }
}

@media screen and (max-width: 675px) {
    header, #content, .main-nav {
        width: 90%
    }
}

@media screen and (max-width: 630px) {
    .description {
        padding-top: 1rem;
    } 

    #ball {
       width: 85%; 
    }
}

@media screen and (max-width: 550px) {
    #ball {
       width: 92%; 
    }

    #crown {
        width: 7rem;
        margin-top: -5rem;
    }

    .ball-text {
        gap: 0;
        padding-top: 27%;
        max-width: 40%;
    }

    .main-nav {
        grid-template-columns: calc(clamp(2.5rem, 4vw, 3.5rem) * 3.75) 0rem calc(clamp(2.5rem, 4vw, 3.5rem) * 3.75);
    }
}

@media screen and (max-width: 441px) {
    .home-text {
        width: 70%;
    }  
    
    .home-text > div:last-child {
        place-self: center;
    }

    .item.title-category + .item {
        margin-top: 4.3rem;
    }

    #crown {
        width: 6rem;
    }

    #ball {
       width: 98%; 
    }

    #fortune {
        padding-top: 1rem;
    }

    #fly, #run, #lie {
        width: 12rem;
    }

    #fly {
        left: 50%;
    }

    #run {
        transform: translateX(-70%);
    }

    #lie {
        bottom: 1.5%;
    }

    #flower {
        width: 3.4rem;
    }

    #flower2 {
        width: 4.2rem;
    }

    .menu-nav {
        gap: 1rem;
        font-size: clamp(1.6rem, 10vw, 2.3rem);
        padding: 1rem 0;
        width: 90%
    }

    button > img {
        width: 4.3rem;
    }

    .menu-nav > button {
        grid-template-columns: 5rem 1fr;
    }

    .menu-nav > button:first-child {
        grid-template-columns: 1fr 5rem;
    }

    .menu-nav > button:last-child {
        gap: 0;
    }

    .menu-nav > button:first-child > img {
        height: 6rem;
    }
}

@media screen and (max-width: 418px) {
    .ball-text {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 391px) {
    .ball-text {
        font-size: 2rem;
    }

    .ball-text {
        gap: 0;
        padding-top: 30%;
        max-width: 40%;
    }

    .home-text {
        width: 80%;
        grid-template-rows: 6rem 1fr 15rem;
    }  
}